* {
    margin: 0;
    overflow-x: hidden;

}
body {
    display: flex;
    flex-direction: column;
}
.top-page {
    height: 100px;
    width: 100%;
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8px;
    
    
}

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-list {
    margin-left: auto;
    margin-right: 110px;
    
}
ul, li {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    
}
.middle {
    background: #1F2937;
    color: #f9faf8;
    font-size: 35px;
    weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    

}
h1 {
    width: 400px;
}
p {
    font-size: 24px;
    width: 400px;
    margin-top: 35px;
    
}
img {
    width: 500px;
    height: 270px;
    margin-left: 86px;
}
button {
    background: #3882F6;
    color: white;
    height: 50px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
    font-weight: 650;
    margin-top: 25px;

}
.bottom .square {
    height: 250px;
    width: 250px;
    color: white;
    background: black;
    margin: 2px;
    align-items: center;
}
.google {
    text-decoration: none;
    color: yellow;
}
.bottom{
    height: 350px;
    background: white;
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

.bottom div {
    display: flex;
    justify-content: space-evenly;
}
.low {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    height: 350px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote div{
    font-size: 45px;

}
footer {
    color:white;
    display: flex;
    background: #1F2937;
    justify-content: center;
    align-items: center;
}